
# Core Requirements
numpy
scipy
scikit-image
sknw
shapely==1.6.4
opencv-python
pyyaml
setuptools
tensorboard
pyscreenshot
pybullet

# Plotting & Data Handling
matplotlib
pandas
ipython
jupyter

# Testing & formatting
pytest
pytest-timeout
pytest-html
flake8
vulture
